body {
  background-image: url(./bluemoon.png);
  background-attachment:fixed;
}
.App {
  text-align: left;
}
.review_img {
  width: 40%;
  border-radius: 50px;
}
.container {
  margin-left: 16%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  contain: content;
}

.item {
  padding: 5px;
  background-color: rgba(201, 200, 200, 0.589);
  border: 5px solid rgb(193, 195, 191);
  border-radius: 50px;
  display: flex;
  width: 80%;
}

.text {
  border-radius: 50px;
  font-size: 1.5rem ;
  max-width: 100%;
  margin-left: 20px;
}
